
Klimerko_Firmware/.DS_Store
extras/.DS_Store
Klimerko_Printable_Case/.DS_Store
Klimerko_Printable_Case/Mounting/.DS_Store
Klimerko_Firmware/src/PubSubClient/.DS_Store
Klimerko_Firmware/src/movingAvg/.DS_Store
Klimerko_Firmware/src/.DS_Store
.DS_Store
